--- 
layout: post 
title: {{item.title}} 
{% set listAtributesName = item.name.split('_') %}
permalink: /{{listAtributesName[0]}}/{{listAtributesName[1]}}/{{listAtributesName[2]}}/{{listAtributesName[3]}}/{{item.name}}.html 
--- 

## Author

{{ item.author }}

## Repo URL 
 
 [{{item.name}}][{{item.name}}] 
 
[{{item.name}}]: {{item.repository}} 
 
## Description 
 
{{item.short_description}} 
 
## Date 
 
{{ item.date }}

## Tags

{{ item.tags }}
